* {
margin: 0;
padding: 0;
box-sizing: border-box; 
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
cursor: pointer;
}
html,body {
height: 100%;
width: 100%;
cursor: pointer;

}
body{
    overflow-x: hidden;
}
section{

    height: 100%;
    width: 100%;
   padding: 30px 80px;
    
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    
}
nav h1{
    font-size: 30px;
    display: flex;
    align-items: center;
    gap: 10px;
}
nav i {
    display:inline-block;
  rotate: 45deg;
  font-size: 35px;
}
nav #part2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
#part2 h4{
    font-weight: 500;
}
#part2 button{
    padding: 11px 20px;
    border-radius: 10px;
    border: 1.5px solid black;
    background-color: transparent;
    font-weight: 500;
    cursor: pointer;
}
#center{
 
    height:70%;
    width: 100%;
    display: flex;
    padding-top: 50px;
    align-items: center;
   
}
#center #left{
    height: 100%;
    width: 50%;
   
}

#left h1{
    width: 90%;
    font-size: 65px;
    font-weight: 500;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
    
}
#left h5{
    font-weight: 500;
    color: #111111d7;
    margin-bottom: 20px;
    
    width: 90%;
}
#left button{
    background-color: black;
    color: rgba(255, 255, 255, 0.773);
    padding: 11px 20px;
    border-radius: 10px;
    border: 1.5px solid black;
    font-weight: 500;
}
#center #right{
    height: 100%;
    width: 50%;
    position: relative;
    
   }

#right img{
    height: 100%;
   
    position: absolute;
    right: 0;
   
    
}

#section1botom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px 0;
    
    
}
#section1botom img{
    height: 60px;
    width: 80px;
    
}

.section2 .services{
    padding: 60px 0;
display: flex;
gap: 50px;
align-items: center;
}
.services p {
    width: 55%;
    font-size: 13px;
}
.services h3{
    font-size: 30px;
    font-weight: 500;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #B9FF66;
    
}

#container{
    min-height: 90vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0;
    justify-content: space-between;
    
   
    
   
}
#container #elem1{
    height: 200px;
    width: 47%;
   overflow: hidden;
    border-radius: 50px;
    border: 3px solid black;
    flex-shrink: 0;
    box-shadow: 0px 8px 0 rgba(0, 0, 0, 0.94);
    display: flex;
    padding: 30px;
    gap: 10px;
    
}
#elem1 #elem-left{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  
}
#elem1 #elem-right{
    height: 100%;
    width: 50%;
    
   }
#elem1 #elem-right img{

    height: 100%;
    width: 100%;
   
    
    object-fit: cover;
    object-position: center;
}

#elem1 #elem-left i{
   
   
   height: 30px;
   width: 30px;
    border-radius: 50%;
    padding: 10px ;
    background: #000;
    color: white;
}
#elem1 #elem-left h3{
    font-size: 25px;
    background-color: #B9FF66;
    padding: 4px;
    border-radius: 4px;


}
#container #elem2{
    height: 200px;
    width: 47%;
   overflow: hidden;
    border-radius: 50px;
    border: 3px solid black;
    flex-shrink: 0;
    box-shadow: 0px 8px 0 rgba(0, 0, 0, 0.94);
    display: flex;
    padding: 30px;
    gap: 10px;
    background: black;
    
}
#elem2 #elem-left{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  
}
#elem2 #elem-right{
    height: 100%;
    width: 50%;
    
   }
#elem2 #elem-right img{

    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: bottom;
}

#elem2 #elem-left i{
   
   
   height: 30px;
   width: 30px;
    border-radius: 50%;
    padding: 10px ;
    background: white;
    color: black;
}
#elem2 #elem-left h3{
    font-size: 25px;
    background-color: white;
    padding: 4px;
    border-radius: 4px;

}
#elem2 #elem-left h5{
    color: white;
}
#container #elem3{
    height: 200px;
    width: 47%;
   overflow: hidden;
    border-radius: 50px;
    border: 3px solid black;
    flex-shrink: 0;
    box-shadow: 0px 8px 0 rgba(0, 0, 0, 0.94);
    display: flex;
    padding: 30px;
    gap: 10px;
    background: #000;
    
}
#elem3 #elem-left{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  
}
#elem3 #elem-right{
    height: 100%;
    width: 50%;
    
   }
#elem3 #elem-right img{

    height: 100%;
    width: 100%;
    object-fit: ceneter;
    object-position: center;
}

#elem3 #elem-left i{
   
   
   height: 30px;
   width: 30px;
    border-radius: 50%;
    padding: 10px ;
    background: white;
    color: black;
}
#elem3 #elem-left h3{
    font-size: 25px;
    background-color: white;
    padding: 4px;
    border-radius: 4px;

}
#elem3 #elem-left h5{
    color: white;
}
#container #elem4{
    height: 200px;
    width: 47%;
   overflow: hidden;
    border-radius: 50px;
    border: 3px solid black;
    flex-shrink: 0;
    box-shadow: 0px 8px 0 rgba(0, 0, 0, 0.94);
    display: flex;
    padding: 30px;
    gap: 10px;
    
}
#elem4 #elem-left{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  
}
#elem4 #elem-right{
    height: 100%;
    width: 50%;
    
   }
#elem4 #elem-right img{

    height: 100%;
    width: 100%;
   
    
    object-fit: cover;
    object-position: center;
}

#elem4 #elem-left i{
   
   
   height: 30px;
   width: 30px;
    border-radius: 50%;
    padding: 10px ;
    background: #000;
    color: white;
}
#elem4 #elem-left h3{
    font-size: 25px;
    background-color: #B9FF66;
    padding: 4px;
    border-radius: 4px;


}